tests/Q2-example-finder/output-workflow.json
{
  "name": "Q2-Order-To-LINE-Notify",
  "nodes": [
    {
      "id": "sticky-user-1",
      "name": "Layer1 使用者需求 (範例查詢產出)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -260
      ],
      "parameters": {
        "color": 4,
        "width": 600,
        "height": 240,
        "content": "## 自家訂單 → LINE Notify\n\n@trigger: webhook POST /order\n@input: { order_id, customer_name, amount, items[] }\n@step: 組訊息 \"🛒 新訂單 #{order_id} {customer_name} 共 ${amount}\"\n@output: LINE Notify (httpRequest POST https://notify-api.line.me/api/notify, Header Auth)\n@on-error: continueOnFail (LINE 暫時失敗不阻斷)\n\n@assume: 已有 LINE Notify access token\n@assume: token 已在 n8n credentials 設為 \"Header Auth: lineNotify\""
      }
    },
    {
      "id": "node-webhook",
      "name": "WebhookOrder",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "order",
        "responseMode": "onReceived",
        "options": {}
      },
      "notes": "@trigger",
      "webhookId": "876c05c8-94d0-4cfe-8dde-b975e1ed0b72"
    },
    {
      "id": "node-set",
      "name": "Set 組訊息",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        100
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "m",
              "name": "message",
              "type": "string",
              "value": "=🛒 新訂單 #{{ $json.body.order_id }}\n客戶：{{ $json.body.customer_name }}\n金額：${{ $json.body.amount }}"
            }
          ]
        }
      },
      "notes": "@step: 組訊息"
    },
    {
      "id": "node-line",
      "name": "LINE Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://notify-api.line.me/api/notify",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "form",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "<REPLACE_CRED_ID>",
          "name": "lineNotify"
        }
      },
      "continueOnFail": true,
      "notes": "@output: LINE Notify; continueOnFail 對應 @on-error"
    },
    {
      "id": "sticky-ai-1",
      "name": "Layer3 AI 實作說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        700
      ],
      "parameters": {
        "color": 5,
        "width": 1100,
        "height": 480,
        "content": "### 🤖 AI 實作說明 — 訂單 → LINE Notify（範例查詢模式產出）\n\n**範例查詢結果**\n- 主骨架：cookbook/01-webhook-to-slack.md（webhook + set + 通知 三節點模式）\n- 對照：reference-workflows/Telegramtool/1575_Telegramtool_Woocommercetool_Automate_Webhook.json（驗證真實電商訂單欄位結構）\n- 改造：Slack 節點 → httpRequest（因 n8n 無 LINE 原生節點）\n\n**節點選型**\n- `webhook` (v2)：自家後端發 webhook，比 WooCommerce trigger 通用\n- `set` (v3.4)：用 expression 組多行訊息\n- `httpRequest` (v4.2) + `httpHeaderAuth` credential：呼叫 LINE Notify API\n  - LINE Notify 用 form-urlencoded body 帶 `message` 欄位\n  - Authorization header 由 credential 自動注入\n- `continueOnFail=true`：LINE 暫時失敗不丟訊息（對應 @on-error）\n\n**所需 Credentials**\n- [ ] HTTP Header Auth credential 名為 `lineNotify`，header `Authorization: Bearer <token>`\n  - token 從 https://notify-bot.line.me/my/ 申請\n\n**前提假設（@assume 一致）**\n- 你的訂單後端會以 POST 送 webhook 到此 n8n endpoint\n- payload 含 order_id / customer_name / amount 三欄至少（@input 描述）\n- LINE Notify token 已申請並存於 credential `lineNotify`\n\n**測試建議**\n1. `curl -X POST <n8n>/webhook/order -H 'Content-Type: application/json' -d '{\"order_id\":\"A001\",\"customer_name\":\"張小明\",\"amount\":1280}'`\n2. 驗證 LINE 群組收到訊息\n3. 把 token 改錯 → 驗證 continueOnFail 不阻斷整 workflow\n\n**已知限制**\n- ⚠️ **LINE Notify 已宣布 2026/03/31 停用**（cutoff 後此 workflow 將失效）\n  - 建議提早規劃遷移至 LINE Messaging API（使用 channel access token）\n- 未驗證 webhook 來源（任何人 curl 此 endpoint 都能發 LINE）→ 建議加 HMAC secret 驗證\n- 未做 retry；continueOnFail 會吞錯，失敗訊息會丟\n- 沒記錄訂單 → 若 LINE 失敗無從補發\n\n**對應使用者需求**\n- @trigger → Webhook\n- @step (組訊息) → Set\n- @output (LINE Notify) → httpRequest + Header Auth\n- @on-error (continueOnFail) → LINE 節點 continueOnFail=true\n- @assume → 寫入前提假設"
      }
    }
  ],
  "connections": {
    "WebhookOrder": {
      "main": [
        [
          {
            "node": "Set 組訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 組訊息": {
      "main": [
        [
          {
            "node": "LINE Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "id": "ZJgy8byszgwYQvLm"
}